{% extends 'master.html' %}
{% load thumbnail %}

{% block title %}
    User Info
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% include 'account/left_navbar.html' %}
                <div class="user-image">
                    {% if request.user.image %}
                        {% thumbnail request.user.image '200x200' crop='center' as im%}
                            <img src="{{ im.url }}" alt="{{ request.user.username }}">
                        {% endthumbnail %}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <form action="{% url 'user_info' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group" style="margin-top: 10rem">
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}