{% extends 'master.html' %}
{% load thumbnail %}

{% block title %}
    User Property
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 10rem;display: flex;justify-content: space-evenly">
                {% for property in object_list %}
                    <div class="col-md-4">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                {% if property.image.first %}
                                    {% thumbnail property.image.first.image "600x800" crop='center' as im %}
                                        <img src="{{ im.url }}" alt="{{ property.address }}" class="img-a img-fluid">
                                    {% endthumbnail %}
                                {% else %}
                                    <img src="/static/img/property-3.jpg" alt="" class="img-a img-fluid">
                                {% endif %}
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a href="#">{{ property.address|truncatechars:'15' }}</a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a">{{ property.price|floatformat:'-3g' }}</span>
                                        </div>
                                        <a href="{% url 'edit_user_property' slug=property.slug %}" class="link-a">Click here to view
                                            <span class="ion-ios-arrow-forward"></span>
                                        </a>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">Area</h4>
                                                <span>{{ property.meter }}m
                        <sup>2</sup>
                      </span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Beds</h4>
                                                <span>{{ property.beds }}</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Baths</h4>
                                                <span>{{ property.baths }}</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Garages</h4>
                                                <span>{{ property.garages }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}