{% extends 'master.html' %}
{% load thumbnail %}


{% block title %}
    Single Property
{% endblock %}

{% block content %}
    <!--/ Intro Single star /-->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">{{ home.address }}</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="property-grid.html">Properties</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                {{ home.address|truncatechars:"10" }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--/ Intro Single End /-->

    <!--/ Property Single Star /-->
    <section class="property-single nav-arrow-b">
        <div class="container">
            <div class="row">
                <section class="property-single nav-arrow-b">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="image-gallery">
                                    {% for image in home.image.all %}
                                        {% thumbnail image.image "300x200" crop='center' as im %}
                                            <img src="{{ im.url }}" alt="{{ home.address }}" class="gallery-image">
                                        {% endthumbnail %}
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- modal for enlarged image -->
                    <div class="modal" id="image-modal">
                        <div class="modal-content">
                            <img src="" alt="" id="enlarged-image">
                            <button class="close-btn">Close</button>
                        </div>
                    </div>
                </section>
                <div class="row justify-content-between">
                    <div class="col-md-5 col-lg-4">
                        <div class="property-price d-flex justify-content-center foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico">
                                    <span class="ion-money">$</span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h5 class="title-c">{{ home.price|floatformat:'-3g' }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="property-summary">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="title-box-d section-t4">
                                        <h3 class="title-d">Quick Summary</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="summary-list">
                                <ul class="list">
                                    <li class="d-flex justify-content-between">
                                        <strong>Property ID:</strong>
                                        <span>{{ home.id }}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Location:</strong>
                                        <span>{{ home.country }} / {{ home.city }}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Status:</strong>
                                        <span>{{ home.is_active }}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Area:</strong>
                                        <span>{{ home.meter }}m
                        <sup>2</sup>
                      </span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Beds:</strong>
                                        <span>{{ home.beds }}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Baths:</strong>
                                        <span>{{ home.baths }}</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <strong>Garage:</strong>
                                        <span>{{ home.garages }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-7 section-md-t3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="title-box-d">
                                    <h3 class="title-d">Property Description</h3>
                                </div>
                            </div>
                        </div>
                        <div class="property-description">
                            <p class="description color-text-a">
                                {{ home.description }}
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-10 offset-md-1">
                <ul class="nav nav-pills-a nav-pills mb-3 section-t3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-video-tab" data-toggle="pill" href="#pills-video"
                           role="tab"
                           aria-controls="pills-video" aria-selected="true">Video</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-plans-tab" data-toggle="pill" href="#pills-plans" role="tab"
                           aria-controls="pills-plans"
                           aria-selected="false">Floor Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-map-tab" data-toggle="pill" href="#pills-map" role="tab"
                           aria-controls="pills-map"
                           aria-selected="false">Ubication</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-video" role="tabpanel"
                         aria-labelledby="pills-video-tab">
                        <iframe src="https://player.vimeo.com/video/73221098" width="100%" height="460"
                                frameborder="0"
                                webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <div class="tab-pane fade" id="pills-plans" role="tabpanel" aria-labelledby="pills-plans-tab">
                        <img src="/static/img/plan2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="tab-pane fade" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.1422937950147!2d-73.98731968482413!3d40.75889497932681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25855c6480299%3A0x55194ec5a1ae072e!2sTimes+Square!5e0!3m2!1ses-419!2sve!4v1510329142834"
                                width="100%" height="460" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row section-t3">
                    <div class="col-sm-12">
                        <div class="title-box-d">
                            <h3 class="title-d">Contact Agent</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        {% if home.realestate %}
                            <img src="{{ home.realestate.agent_set.first.agent.image.url }}" alt="" class="img-fluid">
                        {% endif %}
                        {% if home.owner.image %}
                        	<img src="{{ home.owner.image.url }}" alt="" class="img-fluid">
                        {% endif %}
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="property-agent">
                            {% if home.realestate %}
                                <h4 class="title-agent">{{ home.realestate.agent_set.first.agent.username }}</h4>
                            {% else %}
                                <h4 class="title-agent">{{ home.owner.username }}</h4>
                            {% endif %}

                            <ul class="list-unstyled">
                                <li class="d-flex justify-content-between">

                                    {% if home.realestate %}
                                        <strong> Agent Phone:</strong>
                                        <span class="color-text-a">{{ home.realestate.agent_set.first.agent.phone }}</span>
                                        <strong> RealEstate Phone:</strong>
                                        <span class="color-text-a">{{ home.realestate.phone }}</span>
                                    {% else %}
                                        <strong> Owner Phone:</strong>
                                        <span class="color-text-a">{{ home.owner.phone }}</span>
                                    {% endif %}
                                </li>

                                <li class="d-flex justify-content-between">
                                    {% if home.realestate %}
                                        <strong>Agent Email:</strong>
                                        <span class="color-text-a">{{ home.realestate.agent_set.first.agent.email }}</span>
                                        <strong>RealEstate Email:</strong>
                                        <span class="color-text-a">{{ home.realestate.email }}</span>
                                    {% else %}
                                        <strong>Owner Email:</strong>
                                        <span class="color-text-a">{{ home.owner.email }}</span>
                                    {% endif %}
                                </li>

                            </ul>
                            <div class="socials-a">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-dribbble" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="property-contact">
                            <form class="form-a" method="post" action="{% url 'single-property' slug=home.slug%}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12 mb-1">
                                        <div class="form-group">
                                            {{ form.as_p }}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-a">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!--/ Property Single End /-->

{% endblock %}


{% block script %}
    <script>
        const galleryImages = document.querySelectorAll('.gallery-image');
        const modal = document.querySelector('#image-modal');
        const enlargedImage = document.querySelector('#enlarged-image');
        const closeBtn = document.querySelector('.close-btn');

        galleryImages.forEach((image) => {
            image.addEventListener('click', () => {
                modal.style.display = 'block';
                enlargedImage.src = image.src;
            });
        });

        closeBtn.addEventListener('click', () => {
            modal.style.display = 'none';
        });
    </script>
{% endblock %}